<!--<p>
  usertodos works!
</p>-->

<div class ='user'>
  <input [(ngModel)] ="user" type = "text" > <!-- אנגימודל זה טקסט שמור-->
</div>
<button (click) = "changeuser()">Change User</button> <!--הוספת כפתור שקורא לפונקציה ציינגיוזר על מנת להציג את משימות היוזר-->
  <div>
  {{user}}
</div>


<div>
  <ul>
     <!--הטודו שאחרי הדטה זה הטודו שאחרי המילה לט-->
    <todo *ngFor = "let todo of todos"
     [data] = "todo" 
     (myButtonClicked) = "showText($event)"> <!--כל המידע שהגיע מאיבנט-אמיטר נכנס לתוך איבנט--> 
    </todo>
  </ul>
</div>
<div>
this is the text from the child: {{todoTextFromTodo}}
</div>

