<mat-card class="example-card"> <!--מתוך אנגולר מטריאל-->
    <mat-card-content>
      <a routerLink = "">Todos</a>-
      
      <!--הוספת תנאי אם המשתמש לא מחובר, יש להציג את כפתור הלוגינ-->
      <a *ngIf = "!(authService.user | async)" routerLink = "/login">Login</a>
      
      <!--אם המשתמש מחובר, יש להציג את כפתור הלוגאווט-->
      <button *ngIf = "authService.user | async" (click) = "logout()">
        Logout
      </button>-

      <button (click) = "toRegister()">
        Register
      </button>-
      <button (click) = "toCodes()">
        Codes
      </button>-
      <button (click) = "toUsertodos()">
        User Todos
      </button>
    </mat-card-content>
</mat-card>

<!--לברך את היוזר לשלום-->
<!--הפסקה צריכה להופיע רק כאשר יוזר מחובר-->
<div *ngIf="authService.user | async"> <!--אם קיים, תציג את הברוך הבא אחרת אל-->
  <h1>Welcome {{(authService.user | async)?.displayName}}</h1> <!--הסימן שאלה משמע אם קיים למשוך, אחרת להתעלם-->
<!--הדרך לקרוא לאובסרבייבל מתוך HTML--> 
</div>